Flask==0.10.1
Jinja2==2.7
MarkupSafe==0.18
Werkzeug==0.9.1
command-not-found==0.3
distribute==0.6.34
gunicorn==0.17.4
itsdangerous==0.21
language-selector==0.1
pygobject==3.8.0
python-apt==0.8.8ubuntu6
ufw==0.33-0ubuntu3
unattended-upgrades==0.1
